<div class="col-md-8">
  <!----問題表格---->
  <%= form_for @question do |f| %>
    <div class="form-group">
      <%= f.label :topic, "Title" %>
      <%= f.text_field :topic, placeholder:"title",class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :content, "Content" %>
      <%= f.text_area :content, placeholder:"What's on your mind ?", class:"form-control", rows:"5"%>
    </div>

    <div class="form-group">
       <%= f.collection_check_boxes :q_tagship, :hashtag_ids, Hashtag.all, :id, :name, {prompt: true}, {class: "form-control"}%>
    </div>
    
    <div class="question-submit">
      <%= f.submit "Ask Question",class:"btn btn-success" %>
    </div>
  <% end %>

  <!----分行---->
  <div class="clearfix"></div>
  <hr>
  <!----問題列表---->
  <h3>Top Questions：</h3>
  <% @questions.each do |question| %>
    
    <div class="row question-list">
      <div class="col-md-3 col-sm-3 col-xs-2">
        <div class="question-data">
          
          <div class="data-grid text-center">
            <div><%= question.upvotes.count %></div>
            <p>upvotes</p>
          </div>
          <div class="data-grid text-center">
            <div><%= question.answers.count %></div>
            <p>answers</p>
          </div>
        </div>
        <%= render partial:"shared/favorite",locals:{question:question} %>   
        

      </div> 
      <div class="col-md-9 col-sm-9 col-xs-10">
        <h4><strong><%= link_to question.topic, question_path(question) %></strong></h4>
        <% question.q_tagships.each do |tag| %>
          <p class="label label-default"><%= tag.hashtag.name %></p>
        <% end %>
        <h5><%= truncate(question.content, length:100) %></h5>
        <p class="time-tag">   
          Ask <%= time_ago_in_words(question.created_at) %> ago
          -by <%= link_to question.user.name,user_path(question.user) %>
          <% if current_user %>
            <% if question.user == current_user || current_user.admin?%>
              <%= link_to "delete",question_path(question),method: :delete, data:{confirm:"Are you sure to delete the question?"} ,class:"label label-danger"%>
            <% end %>
          <% end %>
        </p>
      </div> 
    </div>
    
  <% end %>
  
  <div class="text-center">
    <%= paginate @questions %>
  </div>
  
</div>
<!-- 以下放 hashtags  -->
<div class="col-md-4">
  <% @hashtags.each do |hashtag| %>
    <%= link_to hashtag.name, root_path, class: 'btn tag-btn' %>
  <% end %>
  
</div>