<div class="conteiner">
  <div class="row">
    <div class="col-md-12">
      <div class="question-remind">你需要註冊會員才能提問</div>
      <div class="col-md-7">
        <!----問題列表---->
        <h3>Top Questions：</h3>
        <% @questions.each do |question| %>
          <div class="question-list col-md-12">
            <div class="col-md-3">
              <%= render partial:"shared/favorite",locals:{question:question} %> 
              <%= render partial:"shared/answer_count",locals:{question:question} %> 
            </div>
            <div class="col-md-9">
              <h4><strong><%= link_to question.topic,question_path(question) %></strong><h4>
              <h5><%= truncate(question.content,length:100) %></h5>
              <p>   
                Ask <%= time_ago_in_words(question.created_at) %> ago
                -by <%= question.user.name %>
              </p>
            </div> 
          </div>
        <% end %>
      </div>

      <div class="col-md-4">
        
      </div>
    </div>
  </div>
</div>