<!----問題表格---->
  
<%= render partial: "shared/question-list" %>


 
<!-- 以下放 hashtags  -->
<div class="col-md-4">
  <div class="">
    <h4>Click to Search or Edit</h4>
    <%= link_to 'All',root_path, class:"btn tag-btn-active" %>
    <% @hashtags.each do |hashtag| %>
      <% if hashtag.name == @hashtag.name %>
        <%= link_to hashtag.name, hashtag_path(hashtag), class: 'btn tag-btn-active' %>
      <% else %>
        <%= link_to hashtag.name, hashtag_path(hashtag), class: 'btn tag-btn' %>
      <% end %> 
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="clearfix"></div>
    <hr>
    
    <div class="">
      <b><%= @hashtag.errors.full_messages.to_sentence if @hashtag.errors.any? %></b>
    </div>

    <div class="form-inline">
      <%= form_for @hashtag do |f| %>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "Hashtag name", class: 'form-control' %>
        </div>
        <%= f.submit 'add tag', class: 'btn btn-info' %>
      <% end %>
    </div>
  <% end %>

</div>