 <div class="container">
  <div class="row">
    <div class="question-show col-md-12">
      <div class="question-remind">你需要註冊會員才能回答</div>
      <h3><%= @question.topic %></h3>
      <div class="clearfix"></div>
      <hr>
      <div class="col-md-7">
        <!----瀏覽問題---->    
        <h4><strong>Question:</strong></h4>
        <%= render partial:"shared/favorite",locals:{question:@question} %>
        <%= render partial:"shared/answer_count",locals:{question:@question} %> 
        <h5><%= simple_format(@question.content) %></h5>
        <span>
          Ask <%= time_ago_in_words(@question.created_at) %> ago
          -by <%= @question.user.name %>
        </span>
        <div class="clearfix"></div>
        <hr>
        <!----回答留言---->
        <h4><strong>Answers:</strong></h4>
        <% @answers.each do |answer| %>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><%= answer.user.name %></h3>
            </div>  

            <div class="panel-body">
              <h5><%= simple_format(answer.content) %></h5>
              <span>
                <em><%= time_ago_in_words(answer.created_at)%> ago </em>
              </span>
            </div>
          </div>
        <% end %>  
        <%= link_to "Back",root_path,class:"btn btn-primary",style:"margin-bottom:20px;" %>     
      </div> 
      <div class="col-md-5">
        
      </div>
    </div>
  </div>
</div> 
