<h1>This is <%= @user.name %>'s Personal Page</h1>
<hr>
  <div class="col-md-12">
    <div class="col-md-4">
      <% if @user.image? %>
        <%= image_tag @user.image, width: '250px', class: 'img-responsive img-rounded' %>
      <% else %>
        <%= image_tag ("avatar.png"), alt: 'avatar' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <ul>
        <li><strong>Email:</strong> <%= @user.email %></li>
        <li><p><strong>Introduction:</strong> <%= @user.intro %></p></li>
        <li><strong>Company:</strong> <%= @user.company %></li>
        <li><strong>Job title:</strong> <%= @user.title %></li>
        <li><strong>Website:</strong> <%= @user.website %></li>
        <li><strong>Twitter:</strong> <%= @user.twitter %></li>
        <li><strong>Github:</strong> <%= @user.github %></li>
        <li><h5>
          <%= @user.questions.count %> posted questions, 
          answered <%= @user.answers.count %> questions, 
          <%= @user.favorites.count %> favorite questions,
          <span style="color: red">total <%= @user.upvotes.count %> upvotes.</span>

        </h5></li>
      </ul>
      <div class="col-md-8">
        <% if @user.email == current_user.email %>
          <%= link_to 'Edit Info', edit_user_path(@user), class: 'btn btn-info' %>
        <% end %>

      </div>
    </div>
  </div>
  
  <div class="clearfix"></div>
  <hr>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Most Popular Posts</div>
    <div class="list-group">
      <% @posted_questions.each do |question| %>
        <li class = "list-group-item">
          <span class="badge", alt="upvotes count"><%= question.upvotes.count %></span>
          <% if user_signed_in? %>
            <%= link_to truncate(question.topic, length: 40), logger_question_path(question) %>
          <% else %>
            <%= link_to truncate(question.topic, length: 40), question_path(question) %>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Most Favored Answers</div>
    <div class="list-group">
      <% @answers.each do |answer| %>
        <li class="list-group-item">
          <span class="badge", alt="Upvotes Count"><%= answer.upvotes.count %></span>
          <% if user_signed_in? %>
            <%= link_to truncate(answer.question.topic, length:40), logger_question_path(answer.question) %>
          <% else %>
            <%= link_to truncate(answer.question.topic, length: 40), question_path(answer.question) %>
          <% end %>
        <% end %>
      </li>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Recent Favorites</div>
    <div class="panel-body">
      Question list
    </div>
  </div>
</div>

