<div class="col-md-12">
  <h1>
    This is <%= @user.name %>'s Personal Page
    <span class=float-right>
      <% if @user.email == current_user.email %>
        <%= link_to 'Edit Info', edit_user_path(@user), class: 'btn btn-info' %>
      <% end %>
    </span>
  </h1>

</div>

<div class="clearfix"></div>
<br>
  <div class="col-md-12">
    <div class="col-md-4">
      <% if @user.image? %>
        <%= image_tag @user.image, width: '250px', class: 'img-responsive img-rounded' %>
      <% else %>
        <%= image_tag ("avatar.png"), alt: 'avatar' %>
      <% end %>
    </div>
    <div class="col-md-8">
      
      <table class="table">
        <tr>
          <th>Email:</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>Website:</th>
          <td><%= @user.website %></td>
        </tr>
        <tr>
          <th>Twitter:</th>
          <td><%= @user.twitter %></td>
        </tr>
        <tr>
          <th>Github:</th>
          <td><%= @user.github %></td>
        </tr>
        <tr>
          <th>Company/Title:</th>
          <td><%= @user.company %> / <%= @user.title %></td>
        </tr>
        <tr>
          <th>Intro:</th>
          <td><%= @user.intro %></td>
        </tr>        

      </table>
      
    </div>
    <div class="text-center">
      <h3><strong>Questions:</strong> posted 7 / answered 19 / got total <span style="color: red"><%= @total_upvotes %> upvotes.</span></h3>
  </div>
  
  <div class="clearfix"></div>
  <hr>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Most Popular Posts</div>
    <div class="list-group">
      <% @posted_questions.each do |question| %>
        <li class = "list-group-item">
          <span class="badge", alt="upvotes count"><%= question.upvotes_count %></span>
          <%= link_to truncate(question.topic, length: 40), question_path(question) %>
        </li>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Most Favored Answers</div>
    <div class="list-group">
      <% @answers.each do |answer| %>
        <li class="list-group-item">
          <span class="badge", alt="Upvotes Count"><%= answer.upvotes_count %></span>
          <%= link_to truncate(answer.question.topic, length: 40), question_path(answer.question) %>
        </li>
      <% end %> 
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Recent Favorites</div>
    <div class="list-group">
      <% @favorited_questions.each do |favorite| %>
        <li class="list-group-item">
          <span class="badge"><%= favorite.question.favorites_count %></span>
          <%= link_to truncate(favorite.question.topic, length:40), question_path(favorite.question) %>
        </li>
      <% end %>
      
    </div>
  </div>
</div>

