<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @question.errors.any? %>
        <h2>We have some errors here !</h2>
        <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="col-md-7">
        <!----問題表格---->
        <%= form_for [:logger,@question] do |f| %>
          <div class="form-group">
            <%= f.label :topic, "Title" %>
            <%= f.text_field :topic, placeholder:"title",class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :content, "Content" %>
            <%= f.text_area :content, placeholder:"What's on your mind ?", class:"form-control", rows:"5"%>
          </div>
          
          <div class="question-submit">
            <%= f.submit "Ask Question",class:"btn btn-success" %>
          </div>
        <% end %>

        <!----分行---->
        <div class="clearfix"></div>
        <hr>

        <!----問題列表---->
        <h3>Top Questions：</h3>
        <% @questions.each do |question| %>
          <div class="question-list col-md-12">
            <div class="col-md-3">
              
            </div>
            <div class="col-md-9">
              <h4><strong><%= link_to question.topic,logger_question_path(question) %></strong><h4>
              <h5><%= truncate(question.content,length:100) %></h5>
              <p>   
                Ask <%= time_ago_in_words(question.created_at) %> ago
                -by <%= link_to question.user.name,user_path(question.user) %>
              </p>
            </div> 
          </div>
        <% end %>
      </div>

      <div class="col-md-4">
        
      </div>
    </div>
  </div>
</div>